<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width"/>
    <title>QUAAD</title>
    <link rel="icon" href= "{%static '/img/favicon.png' %}" />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <div class="nav">
    <a href= "{% url 'index' %}" class="logo">
      <img 
        src= "{static '/img/q-dev-logo6-white.png' %}" 
        alt="logo"
        height="40px"
      />
    </a>
    <span></span>
  </div>
  <div class="divider"></div>
  <div class="container">
    <aside>
      <br/><img src="img/icons8-stack-48.png" alt="overview" width="35px" height="35px" class="icon"/>
      <h2 class="overview-header"><br/></h2>
      <p class="ov-items">
        <span>Lang:<br/></span>
          Powershell(PS)<br/>
          .Net<br/>
          Visual Basic(VB)<br/>
        <span>Complexity:<br/></span>6/10 </br>
        <span>Solution Type:<br/></span>Project Mgmt</br>
        <span>Hrs:<br/></span> 32</br>
      </p>
    </aside>
    <article>
      <span class="proj-snip">Solution</span>
      <h1>Plan-O-Gram</h1>
      <p>
        I was tasked with creating an application that would produce a simple plan-o-gram (a layout used for setup) of items 
        optimally positioned on shelves given various product and shelf dimensionions. The product dimensionions were stored in a data
        table while shelf levels and dimensions where taken in the form of user input(this would vary as desired by clients). 
        The plan-o-gram would then be used as a guide for the initial setup of products at the client's location. Since the application only 
        needed to be accessible in-network to a few individuals within a small department, I developed the application in PowerShell as this 
        was readily available in their desktop environment, required no additional setup, and would therefore help deliver their application quickly. 
        The program asks the user to point to a file  containing a clients desired products (which typically ranges from hundreds to thousands),
        then takes the client's desired number of shelf levels and their dimensionions. Given those sets of data, it outputs a plan-o-gram.
      </p>
  
      <p>
        This application exemplifies that fact that there are many ways to go about developing any particular solution. It utilizes a PowerShell 
        console and scripts, including a number of methods from the .Net library, and outputs data which is then formatted into an Excel 
        Workbook using Visual Basic. These are a set of tools not often used together.
        View a completed <a href="https://1drv.ms/x/s!Ar6VAGa9JiSk_h78GEh5uWEQZMoh?e=ldo4Ig">plan-o-gram.</a>
      </p>
    </article>
  </div>
  <!------------------------------------------------------------------------------->
  <div class="container">
    <aside class="asd-script">
      <br/><img src="img/icons8-code-48.png" alt="overview" width="35px" height="35px" class="icon"/>
      <h2><br/></h2>
      <p>
      </p>
    </aside>
    <article class="art-script">
      <h1 class="script-header">Program Outline</h1>
      <p>
        <Ul>
          <li>Takes user input and products file.</li>
          <li>Sets products on shelves optimally given product and shelf dimensions.</li>
          <li>Outputs data for plan-o-glam.</li>
          <li>Places and styles data in an Excel workbook.</li>
          <li>Plan-o-gram within Excel workbook is used as needed.</li>
        </Ul>
      </p>
  
      <p>
      </p>
    </article>
  </div>
  <div class="footer">© quaad.net 2024</div>
  <!------------------------------------------------------------------------------->
</html>