#python files
__pycache__
venv
.env
qdev.py
uqntdb.py
xviews.py
xsettings.py
wip.py

# Django files
staticfiles/
db.sqlite3

# macOS files
.DS_Store

# windows
qdev.bat

# JavaScript
xfiscalquery.js

#debugging
.vscode
