#python files
__pycache__
.env
fiscal_post.py
qdev.py
uqntdb.py
venv
xsettings.py
xviews.py
wip.py

# Django files
db.sqlite3
staticfiles/

# macOS files
.DS_Store

# windows
qdev.bat

# JavaScript
xfiscalquery.js
123.js
assocCharts.js

#debugging
.hintrc
test.css
test.html
test.js
.vscode
