ansicon==1.89.0
asgiref==3.7.2
attr==0.3.2
attrs==23.2.0
autobahn==23.6.2
Automat==22.10.0
blessed==1.20.0
bpython==0.24
Brotli==1.1.0
brotlicffi==1.1.0.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
configparser==6.0.1
constantly==23.10.4
contextlib2==21.6.0
contourpy==1.2.1
cryptography==42.0.5
curtsies==0.4.2
cwcwidth==0.1.9
cycler==0.12.1
daphne==4.1.0
dj-database-url==2.1.0
Django==5.0.1
docutils==0.21.1
fonttools==4.51.0
greenlet==3.0.3
gunicorn==21.2.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
Hypercorn==0.16.0
hyperframe==6.0.1
hyperlink==21.0.0
idna==3.6
importlib_metadata==7.1.0
incremental==22.10.0
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.0
jinxed==1.2.1
joblib==1.4.0
keyring==25.1.0
kiwisolver==1.4.5
lib==4.0.0
markdown-it-py==3.0.0
matplot==0.1.9
matplotlib==3.8.4
mdurl==0.1.2
more-itertools==10.2.0
mssql-django==1.4
nh3==0.2.17
numpy==1.26.4
packaging==24.0
pandas==2.2.1
pathlib==1.0.1
patsy==0.5.6
pillow==10.3.0
pkginfo==1.10.0
priority==2.0.0
psycopg2-binary==2.9.9
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
Pygments==2.17.2
pyjnius==1.6.1
pyloco==0.0.139
pymssql==2.2.11
pyodbc==5.1.0
pyOpenSSL==24.0.0
pyparsing==3.1.2
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2024.1
pywin32-ctypes==0.2.2
pyxdg==0.28
readme_renderer==43.0
requests==2.31.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.7.1
scikit-learn==1.4.2
scipy==1.13.0
service-identity==24.1.0
setuptools==69.1.1
SimpleWebSocketServer==0.1.2
six==1.16.0
SQLAlchemy==2.0.27
sqlparse==0.4.4
statsmodels==0.14.2
threadpoolctl==3.4.0
twine==5.0.0
Twisted==23.10.0
txaio==23.1.1
typing==3.7.4.3
typing_extensions==4.9.0
tzdata==2024.1
urllib3==2.2.1
ushlex==0.99.1
uvicorn==0.28.0
wcwidth==0.2.13
websocket-client==1.7.0
whitenoise==6.6.0
wsproto==1.2.0
zipp==3.18.1
zope.interface==6.2
