html{
  background-color: rgb(230, 229, 229);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/*
html::after{

  content: "";
  background: url("../img/scriptbkgrd.PNG");
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   

}
*/

.logo{
  text-decoration: none;
}

.nav {
  z-index: 1;
  position: fixed;
  left: 0px;
  background-color: aquamarine;
  top: 0px;
  width: 100vw;
  height: 40px;
  border-radius: 5px;
}

.nav img{
  position: relative;
  left: 10px;
}

.divider{
  margin: 5px;
  height: 30px;
  width: 100vw;
}

.footer{
  text-align: center;
}

@media (max-width:780px){

  .footer{
    font-size: smaller;
  }
}


