html{
  background-color: rgb(230, 229, 229);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo{
  text-decoration: none;
}

.nav {
  z-index: 1;
  position: fixed;
  left: 0px;
  background-color: aquamarine;
  top: 0px;
  width: 100vw;
  height: 40px;
  border-radius: 5px;
}

.nav img{
  position: relative;
  left: 10px;
}

.divider{
  margin: 5px;
  height: 30px;
  width: 100vw;
}

#footer-illus-container-1{
  max-width: 250px;
  margin: auto;
  position: relative;
  left: 20px;
}

.footer{
  text-align: center;
  font-size: x-small;
}

