<!DOCTYPE html>
<html>
    <div class="modal" id="aux-modal">
        <div class="aux-table-modal">
            <div class="aux-table-modal-data">
                <span class="aux-table-modal-close">&times;</span>
                <div class="aux-table-modal-header"></div>
                <span class="aux-table-modal-rows">
                    {% comment %} <div class="aux-table-modal-row">Column Data Column Data Column Data Column Data Column Data  Data C</div>
                    <div class="aux-table-modal-row">Column Data Column Data Column Data Column Data Column Data Column Data</div>
                    <div class="aux-table-modal-row">Column Data Column Data Column Data Column Data Column Data Column Data</div>
                    <div class="aux-table-modal-row">Column Data Column Data Column Data Column Data Column Data Column</div>
                    <div class="aux-table-modal-row">Column Data Column Data Column Data </div>
                    <div class="aux-table-modal-row">Column Data Column Data Column Data Column Data Column Data Column Data</div>
                    <div class="aux-table-modal-row">Column Data Column Data Column Data Column Data </div>
                    <div class="aux-table-modal-row">Column Data Column Data Column </div>
                    <div class="aux-table-modal-row">Column Data  Column Data Column  Column Data Column </div>
                    <div class="aux-table-modal-row">Column Data</div> {% endcomment %}
                </span>
            </div>
        </div>
    </div>
</html>