{% extends "fiscal_generic.html" %}
{% load static %}
{% block script_n_style %}
    <!--<link rel= "stylesheet" href= "{% static '/css/fiscal_posts.css' %}" id="posts-styles"/>-->
{% endblock %}
    {% block sidebar_items %}
    {% endblock %}
    {% block core_items %}
        <div class="posts-core-items">
            <div class= "posts-main-title"></br>FISCAL</br>
                <span class= "subtitle">Posts</span>
                <span class="mb-main-title-line"></span>
            </div>
            <div class="append-post"></div>
        </div>
    {% endblock %}