<!doctype html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, minimum-scale=1"/>
        <title>Test</title>
        <link rel="stylesheet" href= "{% static '/css/fiscalquery.css' %}"/>
        <link rel="stylesheet" href= "{% static '/css/fiscal_posts.css' %}"/>
        <script type="module" src="https://cdn.jsdelivr.net/npm/chart.js@4.4.2/dist/chart.umd.min.js" ></script>
        <script src= "{% static '/script/seriesColors.js' %}"></script>
        <script src= "{% static '/script/jsCharts.js' %}"></script>
        <script src= "{% static '/script/assocCharts.js' %}"></script>
        <script src= "{% static '/script/fiscalPosts.js' %}"></script>
        <script type="module" src= "{% static '/script/fiscalquery.js' %}"></script>
        {% block script_n_style %}
        {% endblock %}
    </head>
    <div class="mobile-header">
        <img class="mb-icon-logo" src= "{% static '/img/icons8-us-dollar.svg' %}" width= 30px></img>
        <img class="mb-icon-menu" src= "{% static '/img/icons8-whitemenu.svg' %}" width= 30px></img>
        <span class="header-tabs">
            <button type="button" class="mb-tab-btn" id="mb-tab-1">Overview</button>
            <button type="button" class="mb-tab-btn" id="mb-tab-2">Posts</button>
        </span>
    </div>
    <div class="core">
        <div class="sidebar">
            <img class= "icon-logo" src= "{% static '/img/icons8-us-dollar.svg' %}" width= 30px></img>
            <div class="logo">FiscalQuery</div>
            <span class="sidebar-close">&times;</span>
            <div class="divider"></div>
            {% block sidebar_items %}
                <div class="sidebar-items">
                    <div class="field">
                        <span id= "field-items">
                            <div class="textInputWrapper">
                                <input id="input-1" placeholder="yyyy" type="text" class="textInput"maxlength="4"/>
                            </div>
                            <div class="textInputWrapper">
                                <input id="input-2" placeholder="yyyy" type="text" class="textInput" maxlength="4"/>
                            </div>
                        </span>
                    </div>
                    <div class="datasets-list-hdr">Additional Datasets</div>
                    <div class="dataset-lbl-wrapper">
                        <div class="sidebar-lbl">corp profits</div>
                        <div class="sidebar-lbl">exports</div>
                        <div class="sidebar-lbl">federal debt</div>
                        <div class="sidebar-lbl">gdp</div>
                        <div class="sidebar-lbl">gov consumption and investments</div>
                        <div class="sidebar-lbl">gross domestic income</div>
                        <div class="sidebar-lbl">imports</div>
                        <div class="sidebar-lbl">money supply m1</div>
                        <div class="sidebar-lbl">net exports</div>
                        <div class="sidebar-lbl">personal consumption</div>
                        <div class="sidebar-lbl">personal income</div>
                        <div class="sidebar-lbl">personal savings</div>
                        <div class="sidebar-lbl">real exports</div>
                        <div class="sidebar-lbl">real gdp</div>
                        <div class="sidebar-lbl">real gov consumption and investments</div>
                        <div class="sidebar-lbl">real imports</div>
                        <div class="sidebar-lbl">real net exports</div>
                        <div class="sidebar-lbl">real personal consumption</div>
                    </div>
                    <div>
                        <button type ="button" id= "qryBtn">Search</button>
                    </div>
                    <div class='hidden'></div >
                </div>
            {% endblock %}
        </div>
        {% block core_items %}
            <div class="core-items">
                <div class="main-title"></br>U.S. GOV'T EXPENDITURES</br>
                    <div class="subtitle">in billions | nominal</div>
                    <!--<img class="main-title-icon" src= "{% static '/img/icons8-government.svg' %}" width=30px />-->
                    <div class="main-title-line"></di>
                </div>
                <div class="main-series">
                    <div class= "chartcontainer">
                        <canvas id="MainSeriesCht"></canvas>
                    </div>
                </div>
                <div class="outlays-n-aux">
                    <div class="outlays-header">
                        <div class="outlays-header-items">
                            <div class="pre-title" id="expd-by-class">Expenditures By Class</div>
                            <div class="outlays-yr">Year</div>
                            <div class="subtitle" id="outlay-subtitle"></div>
                            <button type="button" class="title-btn" id= "tb2">Year</button>
                        </div>
                    </div>
                    <div class= "outlays-container"> 
                        <div class="outlays-cht-container">
                            <canvas id="outlays-cht"></canvas>
                        </div>
                    </div>
                    <div class="aux1-header">
                        <div class="aux1-header-items">
                            <div id="aux1-title">Expenditure<br/></div>
                            <div class="subtitle" id="aux1-subtitle">Class Details</div>
                        </div>
                    </div>
                    <div class="aux1-table"></div>
                </div>
            </div>
        {% endblock %}
        <div id="options-modal" class="modal">
            <div class="options-modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <img src= "{% static '/img/icons8-list.svg' %}" width=30px  class= "modal-icon"/> 
                    <h2 class ="modal-header-text"></h2>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <p></p>
                </div>
            </div>
        </div>
        <div class= "right-sidebar"></div>
    </div>
</html>