{% extends "profile_generic.html" %}
{% load static %}

{% block profile_pic_src %}
    src= "{% static '/img/hs3.jpg' %}"
{% endblock%}
{%block profile_pic_alt%}
    alt="Etoro Ukoh"
{% endblock %}
{% block name_and_title %}
    <div class="two"><span>Etoro A. Ukoh</span><br/>Developer-Analyst</div>
{% endblock %}
{% block Specialization %}
    <ul>
        <li>Computational and statistical programming</li>
        <li>Quantitative data visualization</li>
        <li>Task automation</li>
    </ul>
{% endblock %}
{% block networking_links %}
    <a href="https://www.linkedin.com/in/etoro-ukoh-674096300" class="networking-icons">
        <img alt="LinkedIn" src= "{% static '/img/icons8-linkedin-50.png' %}" width="25px"/>
    </a>
    <a href="https://www.upwork.com/freelancers/~01e07fba22bc30193f?mp_source=share" class="networking-icons">
        <img alt="upwork" src= "{% static '/img/icons8-upwork-50.png' %}" width="25px"/>
    </a>
    <a href="https://www.fiverr.com/e_ukoh?public_mode=true" class="networking-icons">
        <img alt="fiver" src= "{% static '/img/icons8-fiverr-50.png' %}" width="25px"/>
    </a>
{% endblock %}
{% block headline_quotes %}
    <h2>
        <span id="pre-headline">BI</br></span>
        Reports</br>
        Forecasting</br>
        <span>Pricing, Costs, Etc.</span></br>
    </h2>
{% endblock %}
{% block profile_sum %}
    <div>
    I believe the best approach given a potential project is to get a firm
    understanding of its objectives and then identify the best tools 
    to get the job completed. As a result, I've accumulated experience with a hodgepodge of
    programming languages and software, and have utilized them to create various solutions.
    However, tools that I am most adept at are listed below.
    <br/><br/>
    <span class="opps">
    Open to full/part-time and temp/contract opportunities. 
    Contact for consultation and sample solutions.
    </span>  
    </div>
{% endblock %}
{% block skillset_one %}
    <img src= "{% static '/img/icons8-add-subnode-48.png' %}" alt="icon" width="35px" height="35px" class="icon"/>
        <span class= "skillhead">
        Programming <br/>Languages<br/>--<br/><br/>
            <span class="skilltext">
                HTML, CSS, &#38 Javascript |
                Python |</br>
                T-SQL |
                PowerShell |
                VBA
        </span>
    </span><br/>
{% endblock %}
{% block skillset_two %}
    <img src= "{% static '/img/icons8-web-analytics-48.png' %}" alt="icon" width="35px" height="35px" class="icon"/>
    <span class = "skillhead">
    Other Dev &#38 <br/>Analytical Tools<br/>--</br></br>
        <span class="skilltext">
            Excel |
            Power BI |
            SSMS |
            Django |</br>
            Git |
            Microsoft suite of products
        </span>
    </span><br/>
{% endblock %}
{% block skillset_three %}
    <img src= "{% static '/img/icons8-workflow-48.png' %}" alt="icon" width="35px" height="35px" class="icon"/>
    <span class= "skillhead">
        Recent Solutions <br/>Include<br/>--<br/><br/>
        <span class="skilltext" id= "sk3">
            Algorithms for order automation |
            Creating and automating HTML emails |
            Custom data dashboards |
            Web scraping |
            Database development
        </span>
    </span><br/>
{% endblock %}