{% extends "main.html" %}
{% load static %}
{% block addstyles %}
  <link rel="stylesheet" href= "{% static '/css/projects_styles.css' %}" />
{% endblock%}
{% block mycontent %}
  <div class="container">{% comment%} proj  {% endcomment %}
    <aside>
      <br/><img src= "{% static 'img/icons8-stack-48.png' %}" alt="overview" width="35px" height="35px" class="icon"/>
      <h2 class="overview-header"><br/></h2>
      <p class="ov-items">
        <span>Components:<br/></span>
          JavaScript<br/>
          Python<br/>
          Django<br/>
          Azure SQL<br/>
      </p>
    </aside>
    <article>
      <span class="proj-snip">Solution</span>
      <h1>Dashboard...</h1>
      <p>
        Utilizes data published by various departments of the U.S. Government. Built on Django backend framework
        with Azure SQL data storage.
      </p>
        <a href="{% url 'fiscal' %}" target="_blank" rel="noopener noreferrer">Dashboard</a> | 
        <a href="https://github.com/tukoh/fiscal.git" target="_blank" rel="noopener noreferrer">Source snippets</a> |
        <a href="https://github.com/tukoh/fiscal_db.git" target="_blank" rel="noopener noreferrer">SQL</a>
    </article>
  </div>
{% endblock %}