{% extends "main.html" %}
{% load static %}
{% block addstyles %}
  <link rel="stylesheet" href= "{% static '/css/projects_styles.css' %}" />
{% endblock%}

{% block mycontent %}
  <div class="container">{% comment%} proj1  {% endcomment %}
    <aside>
      <br/><img src= "{% static 'img/icons8-stack-48.png' %}" alt="overview" width="35px" height="35px" class="icon"/>
      <h2 class="overview-header"><br/></h2>
      <p class="ov-items">
        <span>Lang:<br/></span>
          PowerShell<br/>
          .Net<br/>
          Visual Basic<br/>
        <span>Solution Type:<br/></span>Project Mgmt</br>
      </p>
    </aside>
    <article>
      <span class="proj-snip">Solution</span>
      <h1>Plan-O-Gram</h1>
      <p>
        I was tasked with creating an application that would produce a simple plan-o-gram (a visual layout) of items 
        optimally positioned on shelves given various product and shelf dimensions. The product dimensions were stored in a data
        table while shelf levels and dimensions where taken in the form of user input(this would vary as desired by clients). 
        The plan-o-gram could then be used as a guide for the initial setup of products at the client's location. 
      </p>
  
      <p>
        The PowerShell application asks the user to point to a file containing a clients desired products (which typically ranges from hundreds to thousands),
        then also takes the client's shelf dimensions. Given those sets of data, it outputs the plan-o-gram.
      </p>
    </article>
  </div>
  <div class="container">
    <aside class="asd-script">
      <br/><img src= "{% static 'img/icons8-code-48.png' %}" alt="overview" width="35px" height="35px" class="icon"/>
      <h2><br/></h2>
      <p>
      </p>
    </aside>
    <article class="art-script">
      <h1 class="script-header">Outline</h1>
      <p>
        <Ul>
          <li>Application takes user input for dimensions and products file.</li>
          <li>Sets products on shelves optimally given product and shelf dimensions.</li>
          <li>Outputs data for plan-o-gram.</li>
          <li>Places and styles finished plan-o-gram in an Excel workbook.</li>
          <li> 
            <a href="https://1drv.ms/x/s!Ar6VAGa9JiSkiagWpt1jMquVOWwUqQ?e=2xuFCu" target="_blank" rel="noopener noreferrer">Sample plan-o-gram</a> |
            <a href="https://github.com/tukoh/Plan-o-gram.git" target="_blank" rel="noopener noreferrer">Module snippet</a>
          </li>
        </Ul>
      </p>
  
      <p>
      </p>
    </article>
  </div>
  <div class="container">{% comment%} proj2  {% endcomment %}
    <aside>
      <br/><img src= "{% static 'img/icons8-stack-48.png' %}" alt="overview" width="35px" height="35px" class="icon"/>
      <h2 class="overview-header"><br/></h2>
      <p class="ov-items">
        <span>Lang:<br/></span>
          HTML</br>
          CSS</br>
          JavaScript<br/>
          Python<br/>
          SQL<br/>
        <span>Solution Type:<br/></span>Web App</br>
      </p>
    </aside>
    <article>
      <span class="proj-snip">Solution</span>
      <h1>Data Dashboard</h1>
      <p>
        A work in progress of a web dashboard utilizing some data published by various departments of the U.S. Government.
        The front-end is written in pure JavaScript, HTML, and CSS, and the back-end in Python. Data is stored in an Azure SQL database and
        fetched through SQL and Python view functions.
      </p>
  
      <p>
        Additional components to come.
      </p>
    </article>
  </div>
  <div class="container">
    <aside class="asd-script">
      <br/><img src= "{% static 'img/icons8-code-48.png' %}" alt="overview" width="35px" height="35px" class="icon"/>
      <h2><br/></h2>
      <p>
      </p>
    </aside>
    <article class="art-script">
      <h1 class="script-header">Outline</h1>
      <p>
        <Ul>
          <li>Data is programmatically fetched from sources and stored in database.</li>
          <li>Database views are utilized to format data and to make it easier to work with.</li>
          <li>Python view functions fetch data on demand and send an http response.</li>
          <li>JavaScript parses and formats data to be charted with HTML and CSS</li>
          <li>
            <a href="{% url 'fiscal' %}" target="_blank" rel="noopener noreferrer">Dashboard</a> | 
            <a href="https://github.com/tukoh/fiscal.git" target="_blank" rel="noopener noreferrer">Source snippets</a> |
            <a href="https://github.com/tukoh/fiscal_db.git" target="_blank" rel="noopener noreferrer">SQL</a>
          </li>
        </Ul>
      </p>
  
      <p>
      </p>
    </article>
  </div>
  <div class="container">{% comment%} proj3  {% endcomment %}
    <aside>
      <br/><img src= "{% static 'img/icons8-stack-48.png' %}" alt="overview" width="35px" height="35px" class="icon"/>
      <h2 class="overview-header"><br/></h2>
      <p class="ov-items">
        <span>Lang:<br/></span>
          VBA<br/>
        <span>Solution Type:<br/></span>Pre-Processing</br>
      </p>
    </aside>
    <article>
      <span class="proj-snip">Solution</span>
      <h1>Data Pre-Processing</h1>
      <p>
        Sometimes data is received in a format that isn’t very useful for your needs. 
        This was the case when a third-party vendor would send updated price lists on a weekly basis. 
        Its format was unsuitable for loading into a data table to compare prices with other vendors.       
      </p>
  
      <p>
        In this project, the price list is formatted using algorithms that identify patterns within the original file 
        then modify data as needed.  
      </p>
    </article>
  </div>
  <div class="container">
    <aside class="asd-script">
      <br/><img src= "{% static 'img/icons8-code-48.png' %}" alt="overview" width="35px" height="35px" class="icon"/>
      <h2><br/></h2>
      <p>
      </p>
    </aside>
    <article class="art-script">
      <h1 class="script-header">Outline</h1>
      <p>
        <Ul>
          <li>File is fetched and transformed using Power Query.</li>
          <li>VBA is used to format and clean data.</li>
          <li>Formatted file is stored and saved for further use.</li>
          <li>
            <a href="https://1drv.ms/x/s!Ar6VAGa9JiSki-EnX7D5wKXFHm3CdA?e=OVjUSV" target="_blank" rel="noopener noreferrer">Original price list</a> | 
            <a href= "https://1drv.ms/u/s!Ar6VAGa9JiSki-Ep_NeVnm_qTQ6rdA?e=BrkDZt" target="_blank" rel="noopener noreferrer"> Modified price list</a> |
            <a href="https://github.com/tukoh/format-price-list.git" target="_blank" rel="noopener noreferrer">Source code</a>
          </li>
        </Ul>
      </p>
  
      <p>
      </p>
    </article>
  </div>
  <div class="container">{% comment%} proj4  {% endcomment %}
    <aside>
      <br/><img src= "{% static 'img/icons8-stack-48.png' %}" alt="overview" width="35px" height="35px" class="icon"/>
      <h2 class="overview-header"><br/></h2>
      <p class="ov-items">
        <span>Lang:<br/></span>
          PowerShell<br/>
        <span>Solution Type:<br/></span>Data Analysis</br>
      </p>
    </aside>
    <article>
      <span class="proj-snip">Solution</span>
      <h1>Product Usage</h1>
      <p>
        This is a module that was part of a larger application written to analyze usage of various products. 
        The functions in the module are used to get the past 12 months of usage of a specified product (moving usage).  
        The resulting data can be viewed and/or exported as a file.       
      </p>
  
      <p>
        The original product usage data loaded by the module comes from an XML file that is the result of an SQL query.
      </p>
    </article>
  </div>
  <div class="container">
    <aside class="asd-script">
      <br/><img src= "{% static 'img/icons8-code-48.png' %}" alt="overview" width="35px" height="35px" class="icon"/>
      <h2><br/></h2>
      <p>
      </p>
    </aside>
    <article class="art-script">
      <h1 class="script-header">Outline</h1>
      <p>
        <Ul>
          <li>Imports XML data.</li>
          <li>Gets the usage of any product specified by given parameters.</li>
          <li>Exports usage.</li>
          <li>
            <a href="https://github.com/tukoh/ProdUsage.git" target="_blank" rel="noopener noreferrer">Module</a> |
            <a href="https://1drv.ms/u/s!Ar6VAGa9JiSki-sS9s7A960nvbnb0g?e=v6c2Gf" target="_blank" rel="noopener noreferrer">XML file</a>
          </li>
        </Ul>
      </p>
  
      <p>
      </p>
    </article>
  </div>
{% endblock %}