:root {
    --secondary-purple: rgb(36, 36, 82);
    --dark-gray: rgb(32, 32, 32);
  }
  

html{
    background-color: rgb(32, 32, 32); 
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /*font-family: poppins,sans-serif;*/
    position: relative;
}

.dash-sections{
    display: grid;
    grid-template-areas:
    "SdBr MTitle"
    "SdBr MSeries"
    "SdBr Aux1 Aux2"
    "SdBr Aux1 Aux3"
    ;
}
.logo, .icon-logo{
    display: inline;
}

.icon-logo{
    position: relative;
    top: 5px;
    left: 10px; 
}

.logo{
    box-sizing: border-box;
    margin-left: 15px;
    color: white;
    font-weight: bold;
    font-size: larger;
    text-wrap: wrap;
    border-bottom: 1px solid white;
}

.divider{
    box-sizing: border-box;
    width: 100%;
    height: 25px;
}
.sidebar{
    z-index: 1;
    grid-area: SdBr;
    position: fixed;
    box-sizing: border-box;
    top: 0px;
    left: 0px;
    width: 250px; 
    height: 100rem;
    background-color: rgb(23, 23, 54);
    border-radius: 10px;
    border-top-right-radius: 0px;
}

.field {
    position: relative;
    left: 30px;
    padding-top: 20px;
    width: 175px;
}


  .textInputWrapper .textInput:focus,
  .textInputWrapper .textInput:active {
    outline: none;
  }
  
  .textInputWrapper:focus-within .textInput,
  .textInputWrapper .textInput:focus,
  .textInputWrapper .textInput:active {
    background-color: #353535;
  }
  
  .textInputWrapper:focus-within .textInput::placeholder {
    opacity: 0;
  }
  
input{
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline;
    text-align: start;
    appearance: auto;
    cursor: text;
    margin: 0em;
    padding: 1px 0px;
    border: 0;
    border-radius: 5px;
    background-color: rgb(32, 32, 32);
    padding-block: 1px;
    padding-inline: 2px;
    padding-left: 3px;
    color: white;
    height: 35px;
    margin-bottom: 2px;
}

#input-1{
    padding-right: 25px;
    background: url("../img/icons8-calendar.1723d420ebcc.svg") no-repeat right;
    background-size: 20px;
    background-color: rgb(32, 32, 32);
    width: 50px;
}

#input-1:focus{
    background-color: #353535;
}

#input-2{
    padding-right: 25px;
    background: url("../img/icons8-date-to.922691ad1113.svg") no-repeat right;
    background-size: 20px;
    background-color: rgb(32, 32, 32);
    width: 50px;
    position: relative;
    left: 80px;
    bottom: 39px;
}

#input-2:focus{
    background-color: #353535;
}

::placeholder{
    color:white;
}


#qry-icon-1{
    position: absolute;
    left: 0px;
    margin-top: 10px;
    margin-bottom: 15px;
}

#qryBtn{
    position: relative;
    top: 50px;
    left: 25px;
    box-sizing: border-box;
    min-width: 100px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#qryBtn:hover, #qryBtn:focus{
    background: linear-gradient(180deg, rgb(102, 1, 1), rgb(54, 0, 0));
    margin-top: 3px;
}

.datasets-list{
    position: relative;
    left: 25px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 175px;
    overflow-x: hidden;
}

.sidebar-lbl{
    position: relative;
    left: 25px;
    background-color: rgb(36, 36, 82);
    background-color: transparent;
    border-bottom: 1px solid rgb(33, 33, 33);
    font-weight: 100;
    width: 175px;
}

.sidebar-lbl:nth-of-type(odd){ 
    background-color: rgb(36, 36, 82);
}

.sidebar-lbl:hover{
    background-color: rgb(32, 32, 32);
    cursor: pointer;
}

.main-title{
    grid-area: MTitle;
    position: absolute;
    top: 10px;
    left: 275px;
    box-sizing: border-box;
    height: 100px;
    width: 1200px;
    border: 3px solid white;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;  
    text-align: left;
    font-size: larger;
    font-weight: bold;
}

.subtitle{
    color: lightcoral;
}

.main-title-icon{
    float: right;
    position: relative;
    right: 825px;
    bottom: 25px;
    border-top: 1px solid white;
    border-radius: 25px;
}

.chartcontainer{
    grid-area: MSeries;
    position: absolute;
    top: 130px;
    left:275px; 

}

.outlays-container{
    grid-area: Aux1;
    position: absolute;
    top: 750px;
    left:275px;

}

.outlays-yr{
    position: absolute;
    font-size: larger;
    font-weight: bold;
}

.aux1-title-bar{ /*expenditures by class*/
    grid-area: Aux2;
    box-sizing: border-box;
    position: absolute;
    --aux1-start-pos-left: 850px;
    --aux1-start-pos-top: 750px;
    left: var(--aux1-start-pos-left);
    top: var(--aux1-start-pos-top);
    width: 400px;
    height: 100px;
    background-color: transparent;
    border: 3px solid white; 
    border-radius: 10px;
    border-top-width: 0px;
    border-right-width: 0px;
    text-align: bottom; 
    font-size: larger;
    font-weight: bold;
}

.aux1-table{
    grid-area: Aux3;
    position: absolute;
    left: 875px;
    top: 900px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 400px;
    font-size: large;
    
}

.aux1-table > div:nth-child(even) {
    padding-left: 10px;
    background-color: rgb(47, 47, 47);
    border-radius: 5px;
}


.title-btn{
    box-sizing: border-box;
    min-width: 100px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    background: transparent;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.title-btn:hover, .title-btn:focus{
    background: linear-gradient(180deg, rgb(102, 1, 1), rgb(54, 0, 0));
    margin-top: 3px;
}

#tb2{
    position: absolute;
    left: 1125px;
    top: 775px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(32, 32, 32); 
    background-color: rgba(11, 11, 11, 0.4); 
}


.options-modal-content {
    position: relative;
    background-color: rgb(32, 32, 32); 
    border: 2px solid transparent;
    border-radius: 5px;
    width: 80%;
    margin: auto;
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.modal-icon{
    float: left;
    position: relative;
    top:19px;
}

.close {
  color: rgb(47, 47, 47);
  float: right;
  font-size: 28px;
  font-weight:bolder;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: rgb(23, 23, 54);
    margin-bottom: 25px;
}

.modal-header-text{
    margin-bottom: 0px;
    padding-bottom: 0px;

}

.modal-subtitle{
    color: lightcoral;
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
}
  
.modal-body {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    background-color: rgb(32, 32, 32);
}

.modal-body button, .modal-body p{
    font-size: large;
    text-align: left;
    background-color: transparent;
    color: white;
}

.modal-body button:hover, .modal-body button:focus{
    background-color: rgb(26, 26, 26);
    border: 0px;
}

.modal-footer {
    box-sizing: border-box;
    height: 10px;
    width: 100%;
    background-color: transparent;
}

.modal-body .outlay-yrs-btn-modal{
    border: 0;
}

.left-sidebar{
    position: fixed;
    top: 0px;
    left: 95vw;
    box-sizing: border-box;
    width: 5vw;
    height: 100vw;
    background-color: rgb(23, 23, 54);
    border-radius: 5px;
}